.carousel__back {
    position: absolute;
    top: 230px;
    left: 15px;
    outline: none;
    background: none;
    border: none;
    color : #ffffff;
}
.carousel__dot-group {
    position: absolute;
    /* margin-bottom: 50px; */
    top:320px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 120px !important;
}
.carousel__dot--selected {
    background-color: white !important;
}
.carousel__dot-group button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0px 8px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel__next {
    position: absolute;
    top: 230px;
    right: 15px;
    background: none;
    border: none;
    color : #ffffff;
    outline: none;
}
.carousel__dots {
    margin: auto;
    width: 30px;
}
.slick-next {
    
}
