.moviecard {
    width: 95% !important;
    margin: auto;
    margin-top: 50px;
}
.moviecard > h2 {
    color: white;
    margin-left: 10px;
    margin-bottom: 15px;
}
img {
    margin: auto;
    width: 300px;

}
.moviecard__sliderImageDivision {
    max-width: 300px !important;
    outline: none;
    border: none;
    cursor: pointer;
}